<div class="login-container">
    <div class="login-content">
        <h4 class="appname items">Checklister</h4>
        <input class="items" type="text" id="username" placeholder="Username / Email">
        <input class="items" type="password" id="password" placeholder="Password">
        <button class="btn btn-light items btn-rounded">Login</button>

        <div class="items btn btn-lg btn-google btn-block btn-outline" (click)="loginWithGoogle()"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> <span id="googleLoginText">Login with Google</span> </div>
        <!-- <p class="items">login with <i class="fa fa-brands fa-google" style="cursor: pointer;" (click)="loginWithGoogle()"></i></p>  -->
    </div>
</div>